{% extends "portal/htmlrecord.html" %}
{% comment %}
	Teste de nível de stress
{% endcomment %}

{% block title %}
  Teste o seu stress falando comigo...
{% endblock %}

{% block content %}
  <section>
    <p>Assim que estiver pronto clique no botao para começar a gravar e fale algo,<br>
      logo após isso aperte no botão parar!</p>
    <p>Depois é só clicar em enviar. Para me ajudar <font color="red">não esqueça de informar <br>
      seu gênero e idade!</font></p>
  </section>
{% endblock %}